version: "3.8"

services:
  identity:
    image: ghcr.io/sultonxon/testify_identity:{version}
    env_file: identity.env
    ports:
      - "5001:5001"
    networks:
      - testify-net
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first

networks:
  testify-net:
    external: true
